*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Cormorant Infant', serif; 
   font-family: 'Josefin Sans', sans-serif;*/

a{
    text-decoration: none;
    color: inherit;
}

.container{
    padding: 0 40px;
}
.logo{
    background-color: rgba(41, 46, 54, 1);
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}
.logo .call{
    border: 1px solid rgba(225, 177, 104, 1);
    padding: 20px 57px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}
.logo .reserve{
    background-color: rgba(225, 177, 104, 1);
    padding: 20px 85px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: black;
}

.nav{
    background-color: #292e36;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    border-top: 1px solid gray;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    list-style: none;
}
.nav .ul:active{
    color: orange;
}
.nav .icon{
    display: flex;
    gap: 20px;
}

.welcome{
    background-color:  rgba(41, 46, 54, 1);
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap:120px;
    align-items: center;
    border-top: 1px dashed gray;
    padding-top: 70px;
}
.welcome .text{
    width: 45%;
}
.welcome h1{
    font-family: 'Cormorant Infant', serif;
    font-weight: 400;
    font-size: 100px;
}
.welcome p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.welcome button{
    background-color:  rgba(41, 46, 54, 1);
    border: 1px solid orange;
    padding: 20px 60px;
    color: orange;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 40px 60px 40px;
    background-color: rgba(255, 248, 245, 1);
}
.about .locat{
    display: flex;
    align-items: center;
    gap: 20px;
}
.about .locat i{
    font-size: 30px;
    border: 5px solid rgba(41, 46, 54, 1);
    padding: 15px;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    text-align: center;
}
.about .text h3{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    line-height: 39px;
    font-size: 30px;
}
.about .text p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.story{
    background-color: rgba(255, 248, 245, 1);
    display: flex;
    gap: 45px;
    padding: 84px 40px 125px 40px;
}
.story .rasm{
    width: 743px;
    height: 519px;
}
.story .text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.story .st{
    width: 47%;
}
.story .text h2{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    line-height: 56px;
    font-size: 40px;
}
.story .text p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.menu{
    padding: 140px 40px 200px 40px;
}
.menu .head{
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    display: inline-block;
    margin-bottom: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
.menu .content{
    display: flex;
    gap: 55px;
}
.menu .special{
    width: 35%;
}
.menu .start{
    display: flex;
    flex-direction: column;
    gap: 74px;
}
.menu .starter h1{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
}
.menu .meal{
    display: flex;
    align-items: center;
}
.menu .meal h2{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    font-size: 30px;  
    line-height: 42px; 
}
.menu .meal p{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 30px;
    font-size: 20px;
}
.menu .meals{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu .special h1{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 13px;
}
.menu .special p{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 30px;
    font-size: 20px;
}
.menu .special img{
    width: 398px;
    height: 548px;
    margin-top: 45px;
    margin-bottom: 60px;
} 
.menu .special button{
    padding: 20px 57px;
    border: 1px solid orange;
    color: orange;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    background-color: white;
}

.clients{
    background-color: black;
    color: white;
    padding: 140px 40px 267px 40px;
}
.clients .test h2{
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 22.5px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 12px;
}
.test h1{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 8px;
}
.test p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 80px;
}

.comment{
    background-color: rgba(52, 57, 66, 1);
    width: 544px;
    height: 285px;
    padding: 0 40px;
}
.comment .head{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    position: relative;
}
.comment .head h1{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
}
.comment .head p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: orange;
}
.comment .text p{
    font-family: 'Cormorant Infant', serif; 
    font-weight: 400;
    font-size: 24px;
    line-height: 37.5px;
    margin-top: 32px;
}
.comments{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.comment .head i{
    position: absolute;
    background-color: orange;
    top: 0;
    left: -5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
}

.chiroq img{
    width: 100%;
    margin-bottom:140px ;
}